.tabs {
    .tab-header-wrap {
        padding: 0 1px;
        display: none;

        @media (min-width: $tablet-min) {
            display: flex;
        }
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color .2s linear;

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }
        }
    }

    .tab-select-wrap {
        display: flex;

        @media (min-width: $tablet-min) {
            display: none;
        }
    }

    .tab-image-wraper,
    .tab-photo-wraper {
        position: relative;
        display: flex;
        overflow: hidden;
      @media (min-width: $desktop-min) {
          height: 500px;
          margin: 0 auto;
      }
      @media (min-width: $tablet-min) {
        height: 400px;
    }
      @media (max-width: $mobile-max) {
        height: 300px;
    }
      img {
          max-width: none;
      }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;
    }
    .tab-moving {
        cursor: move;
        position: absolute;
    }

    .tab-scale {
       position: absolute;
       top:0px;
       left: 0px;
    }

    .tab-content {
        padding: 30px 20px;

        &:not(.active) {
            display: none;
        }
    }
}
